.main h1{
    color: #F4B92B;
}
.main p{
    color: #143D59;
}
.main img{
    animation: mainImg 1s infinite alternate;
}

@keyframes mainImg {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-80px);
    }

}