
.prodImg{
width: 200px !important;
margin: 0px auto;
}
.product h1{
    margin-bottom: 40px;
    font-weight: 700;
    color: #143D59;
}
.prodTitle{
    color: #143D59;
    font-size: 20px !important;

}
.prodPara{
    color: #143D59;
    font-size: 15px;
}
.card{
    /* border: 2px solid #F4B41A !important; */
    border: none;
    width: 250px !important;
    margin: 10px;
    margin-left: 40px;
}
.cardBody{
    background-color: #F4B41A;
}
.cardGroup{
    display: inline-flex;
}
.prodGrp{
    margin: 20px;
    overflow-x: scroll !important ;
}
.prodGrp::-webkit-scrollbar{
    background-color: #F4B41A;
    height: 10px;
    border-radius: 10px;

}
.prodGrp::-webkit-scrollbar-thumb {
    background: #143D59;
    border-radius: 10px;

}
.cardFooter{
    background-color: #143D59 !important;
   
}
.cardFooter .btn-outline-warning{
    background-color: white;
    margin: 3px;
}