.navbar {
    background-color: #fff;
    padding: 0px 10px
}
.navbar ul li{
    cursor: pointer;
    
}
.navbar ul li p{
    color: #143D59;
    font-weight: 600;
    font-size: 1.2em
}
.navbar ul li p:hover{
    color: #F4B92B;
}
.navbar h3{
     color: white;
    font-weight: 600;
        font-size: 2em
}
.navbar img{
    cursor: pointer;
    width: 150px;
}