.features h2{
    margin-bottom: 20px;
    font-weight: 700;
    color: #143D59
}
.features h3{
    margin: 10px 0px;   
    color: #143D59
}
.features h3 span{
    color: #F4B41A;
}
.features p{
    padding: 15px;
    color: #143D59
}
.features{
    margin: 50px auto !important
}
.features .icon{
    color: #F4B41A
}
.features .icon:hover{
    color:#143D59 ;
    cursor: pointer;
    transition-duration: 0.6s;
}
