.features h1{
    margin-bottom: 20px;
    font-weight: 700;
    color: #143D59;
    margin-bottom: 50px !important;
}
.features h3{
    margin: 10px 0px;   
    color: #143D59
}
.features h3 span{
    color: #F4B41A;
}
.features p{
    padding: 15px;
    color: #143D59
}
.features{
    margin: 100px auto !important
}
.features .icon{
    color: #F4B41A
}
.features .icon:hover{
    color:#143D59 ;
    cursor: pointer;
    transform: scale(1.3);
}
